body {
  font-family: Arial, sans-serif;
  background-color: #0c2c4b;
  color: #f0ecec;
  margin: 0;
}
header {
 background-color: #383535;
  color: rgb(240, 237, 237);
  padding: 1rem;
}
header nav a {
  color: rgb(15, 15, 15);
  margin: 0 10px;
  text-decoration: none;
}
main {
  padding: 1rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.product-card {
  border: 1px solid #0e0d0d;
  padding: 10px;
  background: rgb(25, 24, 24);
}
.product-card img {
  width: 50%;
  height: auto;
}
footer {
  background-color: #e6eaee;
  color: rgb(14, 14, 14);
  margin-bottom: auto;
  text-align: center;
  padding: 1rem;
}
